* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center;
}

.index-text {
    text-align: center;
}

.catgif {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.list {
    display: table;
    margin: 0 auto;
    color: white;
  }

.link {
    color: blue;
    font-weight: bold;
}